@import url('bootstrap.min.css');
@import url('font-awesome.min.css');
@font-face{font-family:'Segoe UI';src:url('../font/segoeui.ttf') format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'Segoe UI';src:url('../font/segoeuib.ttf') format('truetype');font-weight:bold;font-style:normal}@font-face{font-family:'Segoe UI';src:url('../font/segoeuil.ttf') format('truetype');font-weight:lighter;font-style:normal}body,h1,h2,h3,h4,h5,h6{font-family:"Segoe UI"}
header ul{background-color:#f1f1f1;list-style:none;margin:0;padding:0;overflow:auto;position:fixed;top:0;left:0;right:0}header ul li{float:left}header ul li a{color:#333;display:block;font-size:11pt;font-weight:bold;line-height:30px;padding:0 10px;text-decoration:none !important;transition:.1s linear}header ul li a.active,header ul li a:hover{background-color:#08c;color:#fff}
.content{margin-top:30px;padding:10px}.content>h1{font-size:29px;font-weight:bold;margin:0 0 10px}
.content>form.form-inline input[type="text"]{text-transform:uppercase;width:200px}
.content>form.form-inline .form-group{display:inline-block}.content>form.form-inline .form-group label{display:block}
.content>ul{list-style:none;margin-top:10px;padding:0}.content>ul li>*{display:inline-block}.content>ul li>*.name{width:180px}
.content>ul li>*.location{width:140px}
.content>ul li>*.time{width:70px}
.content>ul li>*.time-arrow{width:20px;text-align:center}
