@import url('bootstrap.min.css');
@import url('font-awesome.min.css');

@font-face {
	font-family: 'Segoe UI';
	src: url('../font/segoeui.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../font/segoeuib.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../font/segoeuil.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

@header-height: 30px;

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI";
}

header {
	ul {
		background-color: #f1f1f1;
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: auto;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		li {
			float: left;
			a {
				color: #333;
				display: block;
				font-size: 11pt;
				font-weight: bold;
				line-height: @header-height;
				padding: 0 10px;
				text-decoration: none !important;
				transition: 0.1s linear;
				&.active, &:hover {
					background-color: #08c;
					color: #fff;
				}
			}
		}
	}
}
.content {
	margin-top: @header-height;
	padding: 10px;
	> h1 {
		font-size: 29px;
		font-weight: bold;
		margin: 0 0 10px;
	}
	> form {
		&.form-inline {
			input[type="text"] {
				text-transform: uppercase;
				width: 200px;
			}
			.form-group {
				display: inline-block;
				label {
					display: block;
				}
			}
		}
	}
	> ul {
		list-style: none;
		margin-top: 10px;
		padding: 0;
		li {
			> * {
				display: inline-block;
				&.name {
					width: 180px;
				}
				&.location {
					width: 140px;
				}
				&.time {
					width: 70px;
				}
				&.time-arrow {
					width: 20px;
					text-align: center;
				}
			}
		}
	}
}