@import url('bootstrap.min.css');
@import url('font-awesome.min.css');
@import url('print.css') print;
header ul{background-color:#f1f1f1;list-style:none;margin:0;padding:0;overflow:auto;position:fixed;top:0;left:0;right:0}header ul li{float:left}header ul li a{color:#333;display:block;font-size:11pt;font-weight:bold;line-height:30px;padding:0 10px;text-decoration:none !important;transition:.1s linear}header ul li a.active,header ul li a:hover{background-color:#08c;color:#fff}
.content{margin-top:30px;padding:10px}.content>h1{font-size:29px;font-weight:bold;margin:0 0 10px}
.content>form.form-inline input[type="text"]{text-transform:uppercase;width:200px}
.content>form.form-inline .form-group{display:inline-block}.content>form.form-inline .form-group label{display:block}
.content>ul{list-style:none;margin-top:10px;padding:0}.content>ul li{border-top:1px solid #f1f1f1}.content>ul li:last-child{border-bottom:1px solid #f1f1f1}
.content>ul li>*{display:inline-block;vertical-align:middle}
.content>ul li .name{text-transform:uppercase;width:200px}
.content>ul li .location{text-transform:uppercase;width:150px}
.content>ul li .time{width:100px}
.content>ul li .time-arrow{font-size:14pt;font-weight:bold;line-height:1;text-align:center;width:20px}
.content>ul li .inline-btn-group{margin-right:5px;overflow:auto}.content>ul li .inline-btn-group .inline-btn{display:block;float:left;margin-right:0}
.content>ul li .inline-btn{border:1px solid transparent;margin-right:5px;text-align:center;width:24px}.content>ul li .inline-btn:hover{background-color:#e5e5e5;border-color:#d8d8d8}
.content>ul li .inline-btn.return{display:block}
.content>ul li .inline-btn.un-return{display:none}
.content>ul li.returned{background-color:#e5e5e5;opacity:.7}.content>ul li.returned .return{display:none}
.content>ul li.returned .un-return{display:block}
.content>ul li.returned .name{text-decoration:line-through}
.modal input[type="text"]{text-transform:uppercase}
