header,
i[class*="icon-"],
.inline-btn-group,
.inline-btn {
  display: none !important;
}
.print-bypass {
  opacity: 0;
  position: absolute;
}
.content {
  margin-top: -1em !important;
}
.content .page-header {
  display: block !important;
}
.content #page-list li {
  padding-bottom: 0.3em;
  page-break-inside: avoid;
  page-break-before: auto;
  page-break-after: auto;
}
.content #page-list li .name {
  padding-left: 0;
  width: 32% !important;
}
.content #page-list li .location {
  width: 25% !important;
}
.content #page-list li .time {
  width: 20% !important;
}
.content #page-list li .time-arrow {
  line-height: .75 !important;
  width: 3% !important;
}
.content #page-list li .notes {
  padding-left: 3em !important;
  text-overflow: initial !important;
  white-space: normal !important;
  width: 100% !important;
}
a {
  text-decoration: none;
}
