@import url('bootstrap.min.css');

@import url('font-awesome.min.css');

@import url('print.css') print;
header {
  border-bottom: 1px solid #c4c4c4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
header .menu {
  background-color: #f1f1f1;
}
header .menu ul:not(.dropdown-menu) {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .menu ul:not(.dropdown-menu) > li {
  float: left;
  position: relative;
}
header .menu ul:not(.dropdown-menu) > li > a {
  color: #333;
  display: block;
  font-size: 11pt;
  font-weight: bold;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none !important;
  transition: 0.1s linear;
}
header .menu ul:not(.dropdown-menu) > li > a.active,
header .menu ul:not(.dropdown-menu) > li > a:hover {
  background-color: #08c;
  color: #fff;
}
header .menu .dropdown-menu {
  right: 0;
  left: auto;
}
header #page-header {
  font-size: 29px;
  font-weight: bold;
  margin: 10px 0;
}
header #page-form {
  margin-bottom: 10px;
}
header #page-form.form-inline > * {
  vertical-align: bottom;
  margin: 0.5em 0 0;
}
header #page-form.form-inline input[type="text"] {
  text-transform: uppercase;
  width: 200px;
}
header #page-form.form-inline .form-group {
  display: inline-block;
}
header #page-form.form-inline .form-group label {
  display: block;
}
.content {
  overflow: auto;
}
.content #page-list {
  list-style: none;
  padding: 0;
}
.content #page-list li {
  border-top: 1px solid #f1f1f1;
  overflow: auto;
}
.content #page-list li:last-child {
  border-bottom: 1px solid #f1f1f1;
}
.content #page-list li > * {
  display: block;
  float: left;
  vertical-align: middle;
  line-height: 20px;
}
.content #page-list li .name {
  padding-left: 0.3em;
  text-transform: uppercase;
  width: 200px;
}
.content #page-list li .name small {
  color: #888;
}
.content #page-list li .location {
  text-transform: uppercase;
  width: 200px;
}
.content #page-list li .time {
  font-family: 'courier new';
  font-size: 9pt;
  width: 115px;
}
.content #page-list li .time-arrow {
  font-size: 14pt;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  width: 20px;
}
.content #page-list li .notes {
  float: none;
  overflow: hidden;
  padding-left: 0.3em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content #page-list li .inline-btn {
  padding: 0 0.1em;
  text-align: center;
  width: 20px;
}
.content #page-list li .inline-btn:hover {
  background-color: #e5e5e5;
  border-color: #d8d8d8;
}
.content #page-list li .inline-btn.return {
  display: block;
}
.content #page-list li .inline-btn.un-return {
  display: none;
}
.content #page-list li.returned {
  background-color: #e5e5e5;
  opacity: 0.7;
}
.content #page-list li.returned .return {
  display: none;
}
.content #page-list li.returned .un-return {
  display: block;
}
.content #page-list li.returned .name {
  text-decoration: line-through;
}
.container {
  max-width: 100%;
  width: 100%;
  padding: 0 10px;
}
body.modal-open {
  margin-right: 0;
}
.modal {
  overflow-y: auto;
}
.modal input[type="text"] {
  text-transform: uppercase;
}
.typeahead.dropdown-menu {
  width: 200px;
  z-index: 10000;
}
.typeahead.dropdown-menu li a {
  text-transform: uppercase;
}
